<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/aboutus-style.css}" rel="stylesheet" />
    <link th:href="@{/css/shared.css}" rel="stylesheet" />
    <title>About Us | X Shipping</title>
</head>
<body>
<div class="header">
    <form th:action="@{/shipment}" th:method="post">
        <button class="header-button"  type="submit">Shipment</button>
    </form>

    <form th:action="@{/about}" th:method="post">
        <button class="header-button" type="submit">About</button>
    </form>

    <form th:action="@{/account}" th:method="post">
        <div class="dropdown">
            <button class="header-button" id="dropdown-button">Username</button>
            <div class="dropdown-content">
                <form th:action="@{/index}" th:method="post">
                    <button class="header-button" type="submit">Account Options</button>
                </form>
                <form th:action="@{/login}" th:method="post">
                    <button class="header-button" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </form>
</div>
<section class="intro">
    <h1 class="name">X Shipping</h1>
    <h1 class="slogan">
        Seamless shipping solutions for all your company needs
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.
        Proin ullamcorper ipsum in malesuada molestie. In hac habitasse platea dictumst. Duis non porta lacus.
        Phasellus at lorem ac eros facilisis convallis eu et diam. Ut quis urna dapibus, pretium dolor eu, gravida mauris.
        Fusce ut felis eu odio feugiat rhoncus. Morbi eu egestas leo.
    </p>
</section>
<section class="row">
    <div class="column">
        <h2>Our features</h2>
        <ul>
            <li>Featuer 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.</li>
            <li>Feature 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.</li>
            <li>Feature 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.</li>
            <li>Feature 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.</li>
            <li>Feature 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.</li>
        </ul>
    </div>
    <div class="column">
        <h2>What we do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.
            Proin ullamcorper ipsum in malesuada molestie. In hac habitasse platea dictumst. Duis non porta lacus.
            Phasellus at lorem ac eros facilisis convallis eu et diam. Ut quis urna dapibus, pretium dolor eu, gravida mauris.
            Fusce ut felis eu odio feugiat rhoncus. Morbi eu egestas leo.</p>
    </div>
    <div class="column">
        <h2>How it works</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed imperdiet ante, in cursus elit.
            Proin ullamcorper ipsum in malesuada molestie. In hac habitasse platea dictumst. Duis non porta lacus.
            Phasellus at lorem ac eros facilisis convallis eu et diam. Ut quis urna dapibus, pretium dolor eu, gravida mauris.
            Fusce ut felis eu odio feugiat rhoncus. Morbi eu egestas leo.</p>
    </div>
</section>
</body>
</html>