<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/accountpage-style.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div>
        <img th:src="@{/images/Logo.png}" alt="Logo" />
    </div>

    <div class="header">
        <form th:action="@{/shipment}" th:method="post">
            <button class="header-button"  type="submit">Shipment</button>
        </form>
        <form th:action="@{/about}" th:method="post">
            <button class="header-button" type="submit">About</button>
        </form>

        <form th:action="@{/account}" th:method="post">
            <div class="dropdown">
                <button class="header-button" id="dropdown-button">Username</button>
                <div class="dropdown-content">
                    <form th:action="@{/account}" th:method="get">
                        <button class="header-button" type="submit">Account Options</button>
                    </form>
                    <form th:action="@{/index}" th:method="get">
                        <button class="header-button" type="submit">Sign Out</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="Mainbody">
    <div class="Box">
        <div><h1 class="title">Account Information</h1>
            <form th:action="@{/changeAccount}" th:object="${customer}" th:method="post">
                <table class="Info">
                    <tr th:each="user :${user}">
                        <th class="Button-label"><button>Email:</button></th>
                        <td><input type="text" id="username" th:placeholder="${user.email}" name="email" /></td>
                    </tr>
                    <tr th:each="user :${user}">
                        <th class="Button-label"><button>Current Password:</button></th>
                        <td><input type="text" id="Cpassword" th:placeholder="${user.password}" /></td>
                    </tr>
                    <tr th:each="user :${user}">
                        <th class="Button-label"><button>New Password</button></th>
                        <td><input type="text" id="Npassword" name="password"/></td>
                    </tr>
                    <tr th:each="user :${user}">
                        <th class="Button-label"><button>Phone Number</button></th>
                        <td><input type="text" id="Phonenumber" name="phone" th:placeholder="${user.phone}" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="button-submit"><button class="Button-submit" type="submit">Save Changes</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>
