<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to Workable</title>
  <link th:href="@{/css/login-style.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
  <form th:action="@{/register}" th:method="get">
    <div class="nav" >
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
<div class="login-container">
  <h2>Login to ShippingApp</h2>
  <form id="loginForm" th:object="${login}" th:action="@{/submit}" th:method="post">
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="password" id="password" name="password" placeholder="Password" required>
    <button type="submit" th:onclick="RedirectLanding()">Login</button>
    <p th:onclick="SendPassword()">Forgot your password? <a href="#">Click here</a></p>
  </form>
</div>
</body>

</html>
