<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to Workable</title>
  <link th:href="@{/css/login-style.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
  <div>
    <img th:src="@{/images/Logo.png}" alt="Logo" />
  </div>
  <form th:action="@{/register}" th:method="get">
    <div class="header" >
      <button class="header-button" type="submit">Sign Up</button>
    </div>
  </form>
</div>
<div class="login-container">
  <h2>Login to ShippingApp</h2>
  <form id="loginForm" th:object="${account}" th:action="@{/submit}" th:method="post">
    <input type="email" id="email" name="email" placeholder="Email" required  style="width: 100%; box-sizing: border-box;">
    <input type="password" id="password" name="password" placeholder="Password" required style="width: 100%; box-sizing: border-box;">
    <button type="submit">Login</button>
  </form>
</div>
</body>

</html>
