<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Application</title>
    <link th:href="@{/css/shared.css}" rel="stylesheet" />
    <link th:href="@{/css/landing-style.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div>
        <img th:src="@{/images/Logo.png}" alt="Logo" />
    </div>
    <div class="header">
        <form th:action="@{/shipment}" th:method="post">
            <button class="header-button"  type="submit">Shipment</button>
        </form>

        <form th:action="@{/about}" th:method="post">
            <button class="header-button" type="submit">About</button>
        </form>

        <form th:action="@{/account}" th:method="post">
            <div class="dropdown">
                <button class="header-button" id="dropdown-button">Username</button>
                <div class="dropdown-content">
                    <form th:action="@{/account}" th:method="post">
                        <button class="header-button" type="submit">Account Options</button>
                    </form>
                    <form th:action="@{/index}" th:method="post">
                        <button class="header-button" type="submit">Sign Out</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="content">
    Landing Page
</div>
</body>
</html>