<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Application</title>
    <link th:href="@{/css/landing-style.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div>
        <img th:src="@{/images/Logo.png}" alt="Logo" />
    </div>
    <div>
        <button class="header-button" th:onclick="RedirectHome()" type="submit">
            <img th:src="@{/images/Cloud_homepage.PNG}" alt="Home" />
        </button>
        <form th:action="@{/shipment}" th:method="post">
            <button class="header-button"  type="submit">
                <img th:src="@{/images/Cloud_shipment.PNG}" alt="Shipment" />
            </button>
        </form>

        <form th:action="@{/about}" th:method="post">
            <button class="header-button" type="submit">
                <img th:src="@{/images/Cloud_about.PNG}" alt="About" />
            </button>
        </form>

        <form th:action="@{/account}" th:method="post">
            <button name="accountoptions"  id="accountoptions" type="submit">
                Account options
            </button>
        </form>
    </div>
</div>
<div class="content">
    Landing Page
</div>
</body>
</html>
