<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipping Dashboard</title>
  <link th:href="@{/css/rti-styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
  <div class="nav">
    <!-- You can add a link to the registration page here if needed -->
  </div>
</div>
<div class="container">
  <h1>Shipping Dashboard</h1>
  <div id="shipmentStatus"></div>
</div>
</body>

</html>
