<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipment</title>
  <link th:href="@{/css/shipment-style.css}" rel="stylesheet" />
  <link th:href="@{/css/shared.css}" rel="stylesheet" />
</head>
<body>

<div class="header">
  <div>
    <img th:src="@{/images/Logo.png}" alt="Logo" />
  </div>
  <div class="header">
    <form th:action="@{/shipment}" th:method="post">
      <button class="header-button"  type="submit">Shipment</button>
    </form>

    <form th:action="@{/about}" th:method="post">
      <button class="header-button" type="submit">About</button>
    </form>

    <form th:action="@{/account}" th:method="post">
      <div class="dropdown">
        <button class="header-button" id="dropdown-button">Username</button>
        <div class="dropdown-content">
          <form th:action="@{/account}" th:method="post">
            <button class="header-button" type="submit">Account Options</button>
          </form>
          <form th:action="@{/index}" th:method="post">
            <button class="header-button" type="submit">Sign Out</button>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Shipment Address Section -->
<div id="shipmentAddressSection" class="container">
  <h2>Shipment Address</h2>

  <!-- The form where users will input their data -->
  <div id="shippingAddressForm">
    <form th:action="@{/createShipment}" th:object="${shipments}" method="post">

      <label for="pickupAddy">Pickup Address *</label>
      <input type="text" name="pickupLocation" id="pickupAddy" field="*{pickupLocation}" placeholder="Enter Pickup Address" required><br>

      <label for="deliveryAddy">Delivery Address *</label>
      <input type="text" name ="deliveryLocation" id="deliveryAddy" field="*{deliveryLocation}" placeholder="Enter Delivery Address" required><br>

      <label for="shippingMethod">Shipping Method *</label>
      <div class="col-75">
        <select name="shippingMethod" id="shippingMethod" field="*{isshippingMethod}">
          <option value="standard">Standard</option>
          <option value="expedited">Expedited</option>
          <option value="express">Express</option>
        </select>
      </div>

      <input type="submit" value="Submit">
    </form>
  </div>

  <table id="shipmentsTable">
    <thead>
    <tr>
      <th>Order</th>
      <th>Customer Name</th>
      <th>Shipping method</th>
      <th>Pickup Address</th>
      <th>Delivery Address</th>
      <th>date</th>
      <th>Tracking</th>
      <th>Status</th>
      <th>Process</th>
    </tr>
    </thead>
    <tbody>
    <!-- Shipments will be dynamically inserted here -->
      <tr th:each="shipment : ${shipments}">
        <td name="shipmentID" th:text="${shipment.shipmentID}"></td>
        <td th:text="${shipment.customer.firstName}"></td>
        <td name="shippingMethod" th:text="${shipment.shippingMethod}"></td>
        <td name="pickupLocation" th:text="${shipment.pickupLocation}"></td>
        <td name="deliveryLocation" th:text="${shipment.deliveryLocation}"></td>
        <td name="pickupDate" th:text="${shipment.pickupDate}"></td>
        <td name="shipmentTracking" th:text="${shipment.shipmentTracking}"></td>
        <td name="status" th:text="${shipment.status}"></td>
        <td>
          <form action="#" th:action="@{/processShipment/} + ${shipment.shipmentID}" method="get">
            <button th:id="'table_entry_childs_button' + ${shipment.shipmentID}" type="submit"><img style="display:block;" width="25%" height="25%" th:src="@{/images/shipment.png}" alt="Logo" /></button>
          </form>
        </td>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>
