<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipment</title>
  <link href="../static/css/shared.css" rel="stylesheet" />
  <link href="../static/css/shipment-style.css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <div>
        <img src="../static/images/Logo.png" alt="Logo" />
    </div>
    <div class="header">
        <form action="../static/shipment" method="post">
            <button class="header-button"  type="submit">Shipment</button>
        </form>

        <form action="../static/about" method="post">
            <button class="header-button" type="submit">About</button>
        </form>

        <form action="../static/account" method="post">
            <div class="dropdown">
                <button class="header-button" id="dropdown-button">Username</button>
                <div class="dropdown-content">
                    <a href="#">Account Options</a>
                    <a href="#">Sign Out</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Main title for all pages -->
<div class="content">
<h1>Shipment</h1>

<!-- Shipment Address Section -->
<div id="shipmentAddressSection" class="container">
  <h2>Shipment Address</h2>

  <!-- Button to show the form -->
  <button th:onclick="|showForm()|">New Shipping Address</button>

  <!-- The form where users will input their data -->
  <div id="shippingAddressForm">
    <form th:action="@{/addAddress}" th:object="${address}" th:onsubmit="|return addAddress(event)|">
      <label for="name">Name *</label>
      <input type="text" id="name" name="name" required><br>

      <label for="name">Pickup Address *</label>
      <input type="text" id="pickupAdd" required><br>

      <label for="name">Delivery Address *</label>
      <input type="text" id="deliveryAdd" required><br>

      <label for="name">Shipping Method *</label>
      <div class="col-75">
        <select id="country" name="country">
          <option value="standard">Standard</option>
          <option value="expedited">Expedited</option>
          <option value="express">Express</option>
        </select>
      </div>

      <input type="submit" value="Submit">
    </form>
  </div>

  <!-- The section where the address card will be displayed -->
  <div id="addressCardsSection">
    <!-- Address cards will be added here -->
  </div>
</div>

  <table id="shipmentsTable">
    <thead>
    <tr>
      <th>Order</th>
      <th>name</th>
      <th>Shipping method</th>
      <th>date</th>
      <th>Tracking</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- Shipments will be dynamically inserted here -->
    <tr th:each="shipment : ${shipments}">
      <td th:text="${shipment.order}"></td>
      <td th:text="${shipment.name}"></td>
      <td th:text="${shipment.shippingMethod}"></td>
      <td th:text="${shipment.date}"></td>
      <td th:text="${shipment.tracking}"></td>
      <td th:text="${shipment.status}"></td>
    </tr>
    </tbody>
  </table>
</div>
</div>

</body>
</html>
