body {
  font-family: var(--font-family)
}

.row {
  display: flex;
  justify-content: center;
}

.row li {
  text-align: left;
  margin: 5px 20px;
}

.column {
  background-color: var(--column-color);
  text-align: justify;
}
.row div {
  width: 400px;
  /* height: 500px; */
  border: solid 1px var(--theme-color);
  margin: 1%;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.name {
  color: var(--accent-color);
  font-size: 40px;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.slogan {
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
}

.intro {
  justify-content: center;
  text-align: center;
  margin: 3% 20%;
  font-size: 15px;
}

.aside {
  flex: 1 auto;
}
