body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 91, 178);
    padding: 0 20px;
}

.header-button {
    padding: 10px;
    background: none;
    width: 100px;
    height: 80px;
    font: 16px Verdana, sans-serif;
    border: none;
    color: white;
}

.header-button:hover {
    background-color: rgb(18, 107, 196);
}

#accountoptions {
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(18, 107, 196);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    font: 14px Verdana, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(26, 119, 213);;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    height: 10px;
}

.content {
    margin: 10px;
}

.Mainbody{
    /* background-color: rgba(166,59,250,0.17); */
    height: 90vh;
    width: auto;
}

.title {
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

.Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Box H1{
    width: 100vw;
    font-size: 50px;
    text-align: center;
    order: 3;
}

.Button-label button {
    display: inline-block;
    background: none;
    border: none;
    font-size: 18px;
    text-align: left;
    width: 200px;
    margin-right: 2em;
}
.Button-submit {
    text-align: center;
    margin-top: 1em;
    height: 50px;
    width: 200px;
    font: 16px Verdana, sans-serif;
    background-color: rgb(18, 107, 196);
    color: white;
    border: none;
    border-radius: 4px;
}

.Button-submit:hover {
    background-color: rgb(26, 119, 213);
}

.Button-submit:active {
    background-color: rgb(40, 134, 229);
}

.Info input,select {
    height: 3vh;
    width: 30vw;
    font: 16px Verdana, sans-serif;
    margin: 4px;
}