body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198,186,223	);
    padding: 10px 20px;
}

.header-button {
    padding: 0;
    border: 0;
}

.logo {
    height: 10px;
}

.content {
    margin: 10px;
}