body {
  font-family: Arial, sans-serif;
  background-color: #eef2f6;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 91, 178);
  padding: 0 20px;
}

.header-button {
  padding: 10px;
  background: none;
  width: 100px;
  height: 80px;
  font: 16px Verdana, sans-serif;
  border: none;
  color: white;
}

.header-button:hover {
  background-color: rgb(18, 107, 196);
}

a:visited { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:blue; }

.logo {
  height: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #95a5a6;
}

button {
  padding: 10px 20px;
  background-color: rgb(4, 91, 178);;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2ecc71;
}

.login-container {
  width: 300px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box; /* Add this line explicitly */

}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-container p {
  text-align: center;
}

.input {

}