/* CSS Variables */
:root {
    --primary-color: #27ae60;
    --secondary-color: #2ecc71;
    --background-color: #eef2f6;
    --header-color: #2c3e50;
    --text-color: white;
    --hover-color: #95a5a6;
    --box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 91, 178);
    padding: 0 20px;
  }

  .header-button {
    padding: 10px;
    background: none;
    width: 100px;
    height: 80px;
    font: 16px Verdana, sans-serif;
    border: none;
    color: white;
  }

  .button {
    padding: 10px;
    background: none;
    width: 100px;
    height: 80px;
    font: 16px Verdana, sans-serif;
    border: none;
    color: white;
  }

  .header-button:hover {
    background-color: rgb(18, 107, 196);
  }


  .logo {
    height: 10px;
  }


.nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

.nav a:hover {
    color: var(--hover-color);
}

button {
    padding: 10px 20px;
    background-color: rgb(4, 91, 178);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

.main-content {
    display: flex;
    justify-content: center; /* Aligns horizontally center */
    align-items: center; /* Aligns vertically center */
    height: 80vh; /* Takes full viewport height */
    flex-direction: column; /* Stacks items vertically */
    text-align: center; /* Centers text */
}

.signup-section {
    width: 100%; /* Makes the section full width */
    max-width: 400px; /* Maximum width of the form */
}

.signup-form input,
.signup-form button {
    width: 100%; /* Makes the inputs and button take full width of the form */
    padding: 10px; /* Padding inside the inputs and button */
    margin-bottom: 10px; /* Space between the inputs and button */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

.signup-form button {
    cursor: pointer; /* Changes the cursor to a pointer when hovered over the button */
    background-color: #0056b3; /* Example button color, change as needed */
    color: white; /* Text color for the button */
    border: none; /* Removes the border */
    border-radius: 5px; /* Rounds the corners of the button */
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
    }

    .testimonial-section,
    .signup-section {
        width: 100%;
    }
}
