body {
  font-family: var(--font-family);
}

.container {
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  border-radius: 5px;
}

h1 {
  color: var(--accent-color);
}

#shipmentStatus {
  margin-top: 20px;
}

/* Add any other styles as needed */
  