:root {
    --header-color: rgb(4, 91, 178);
    --accent-color: rgb(18, 107, 196);
    --highlight-color: rgb(26, 119, 213);
    --box-shadow: 2px 2px 10px 2px gray;
    --font-family: Verdana, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 0 20px;
}

.header-button {
    padding: 10px;
    background: none;
    width: 100px;
    height: 80px;
    font-size: 16px;
    font-family: var(--font-family);
    border: none;
    color: white;
}

.header-button:hover {
    background-color: var(--accent-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accent-color);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    font-size: 14px;
    font-family: var(--font-family);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--highlight-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}